/* ----------------------------------------------------------------
	Fonts

	Replace your Fonts as necessary
-----------------------------------------------------------------*/


body,
small,
.sub-menu-container .menu-item > .menu-link,
.wp-caption,
.fbox-center.fbox-italic p,
.skills li .progress-percent .counter,
.nav-tree ul ul a,
.font-body { font-family: 'Proxima Nova Rg' !important; }


h1,
h2,
h3,
h4,
h5,
h6,
#logo a,
.menu-link,
.mega-menu-style-2 .mega-menu-title > .menu-link,
.top-search-form input,
.entry-link,
.entry.entry-date-section span,
.button.button-desc,
.fbox-content h3,
.tab-nav-lg li a,
.counter,
.widget-filter-links li a,
.nav-tree li a,
.wedding-head,
.font-primary { font-family: 'Proxima Nova Sm' !important; }


.entry-link span,
.entry blockquote p,
.more-link,
.comment-content .comment-author span,
.comment-content .comment-author span a,
.button.button-desc span,
.testi-content p,
.team-title span,
.before-heading,
.wedding-head .first-name span,
.wedding-head .last-name span,
.font-secondary { font-family: 'Proxima Nova Sm' !important; }

@font-face {
	font-family: 'ubuntu-bold';
	src:url('../fonts/Ubuntu-Bold.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ubuntu-boldItalic';
	src:url('../fonts/Ubuntu-BoldItalic.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ubuntu-italic';
	src:url('../fonts/Ubuntu-Italic.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ubuntu-light';
	src:url('../fonts/Ubuntu-Light.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ubuntu-lightItalic';
	src:url('../fonts/Ubuntu-LightItalic.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ubuntu-medium';
	src:url('../fonts/Ubuntu-Medium.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ubuntu-mediumItalic';
	src:url('../fonts/Ubuntu-MediumItalic.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ubuntu-regular';
	src:url('../fonts/Ubuntu-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}


@font-face {
    font-family: 'Proxima Nova Rg';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
        url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Sm';
    src: url('../fonts/ProximaNova-Semibold.eot');
    src: local('Proxima Nova Semibold'), local('ProximaNova-Semibold'),
        url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Semibold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Semibold.woff') format('woff'),
        url('../fonts/ProximaNova-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

